{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Recent Posts</h1>
  </li>

  {%- for post in site.posts -%}
  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h2 class="post-title">{{ post.title | escape }}</h2>
    </a>
    <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }} &bull; {% include reading-time-post-iteration.html %}</div>
    <div class="post-meta">
      <div class="post-categories">
        {% for tag in post.categories %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
      </div>
    </div>
    <div class="post">
      {{ post.description }}
    </div>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}