---
layout: default-no-about
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <p>On the following you can find the tags or categories, that were used in some posts.</p>
  <div class="post-meta">
    <div class="post-categories">	  
        {% for tag in page.categories %}
        {% assign splitted_tag = tag | split: "," %}
          <a href="/tag/{{ splitted_tag[0] }}"><code class="highligher-rouge"><nobr>{{ splitted_tag[0] }}: {{ splitted_tag[1]}}</nobr></code>&nbsp;</a>
        {% endfor %}
    </div>
  </div>
</div>

{%- include blog-postings.html -%}